
 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Libre+Baskerville:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Libre+Baskerville:wght@700&family=Mukta:wght@200&display=swap');

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

body {
  
    background-color: rgb(4, 16, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;

}

main {
   
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    color: white;

}

.secao-header {
    width: 100%;
    border-radius: 0.5rem;
    color: white;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
  
    display: flex;
  

}

.container-logo {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.container-meu-nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.container-icone {

    display: flex;
  

}

.icones-sociais {
    padding: 1rem;
    font-size: 1.7rem;
}

.icones-sociais:hover {
    transform: scale(1.2);
}

.secao-descricao {
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-descricao {
    width: 60%;
}
.container-descricao h2 {
    
    font-family: 'Libre Baskerville', serif;
}
  

.secao-projetos {

    width: 100%;
}

.card-projeto {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: rgb(12, 46, 138);
    margin-top: 1rem;
    box-shadow: 0px 0px 6px 0px rgb(53, 53, 94);
}

.descricao-cards {
    display: flex;
    flex-direction: column;
   
    align-items: start;
}

    .card-projeto p {
        font-family: 'Mukta', sans-serif;
        font-weight: 100;
    }

.logo-cards {
    margin-right: 1.5rem;
    margin-left: 1rem;
    
}

.logo-cards:hover img {
    transform: scale(1.2);
}


/* VERSÂO MOBILE */

@media (max-width: 900px) {
    main {
        width: 80%;
    }

    .container {
       width: 100%;
    }

    .container-meu-nome {
        font-size: 0.5rem;
    }
}

@media (max-width: 635px) {

   .secao-header {

    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    
   }

   .secao-descricao {
    display: flex;
    flex-direction: column-reverse;
    
   }

   .container {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .container-icone {
    margin-bottom: 2rem;
   }

   .container-descricao {
    width: 100%;
    text-align: center;
    
   }

   .texto-descricao {

    text-align: center;

   }

   .titulo-projetos {
    text-align: center;
   }

   .card-projeto {
    display: flex;
    flex-direction: column;
   }

   .descricao-cards  {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .logo-cards {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
}