

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

body {
  
    background-color: rgb(4, 16, 70);
    display: flex;
    justify-content: center;
    align-items: center;


}

main {
   
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    color: white;

}

.secao-header {
    width: 100%;
    border-radius: 0.5rem;
    color: white;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
  
    display: flex;
  

}

.container-logo {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.container-meu-nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.container-icone {

    display: flex;
  

}

.icones-sociais {
    padding: 1rem;
    font-size: 1.7rem;
}

.secao-descricao {
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-descricao {
    width: 50%;
}

.secao-projetos {

    width: 100%;
}

.card-projeto {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    background-color: rgb(45, 65, 155);
    margin-top: 1rem;
}

.descricao-cards {
    display: flex;
    flex-direction: column;
   
    align-items: start;
}

.logo-cards {
    margin-right: 2rem
}


/* VERSÂO MOBILE */

@media (max-width: 900px) {
    main {
        width: 80%;
    }

    .container {
       width: 100%;
    }

    .container-meu-nome {
        font-size: 0.5rem;
    }
}

@media (max-width: 635px) {

   .secao-header {

    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    
   }

   .secao-descricao {
    display: flex;
    flex-direction: column-reverse;
    
   }

   .container {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .container-icone {
    margin-bottom: 2rem;
   }

   .container-descricao {
    width: 100%;
    text-align: center;
    
   }

   .texto-descricao {

    text-align: center;

   }

   .titulo-projetos {
    text-align: center;
   }

   .card-projeto {
    display: flex;
    flex-direction: column;
   }

   .descricao-cards  {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .logo-cards {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
}